.Modal-Container{
    display: block;
    max-width: 110vh;
    max-height: 120vh;
    min-width: 50vh;
    padding: 3vh;
}

.Modal-Title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2px;
}

.Input-Container {
    margin-bottom: 10px;
}

.Url-Field {
    margin-top: 35px;
}

.Primary-Content {
    display: flex;
    margin-bottom: 20px;
}

.Secondary-Content {
    width: 50%;
    margin-bottom: 7px;
}

.Tertiary-Content {
    margin-bottom: 7px;
}

.Item-image {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 115px;
    background-color: rgb(209, 44, 44);
    border-color: rgb(209, 44, 44);
    border-width: 1px;
    border-style: solid;
    margin-right: 20px;
}

.Pizza-Image{
    width: 98%;
    height: 98%;
}

.Item-Content {
    display: block;
    width: 65%;
}

.Title-Name {
    font-size: 22px;
    color: rgb(236,44,28);
}

.Separator {
    background-color: rgb(236,44,28);
    height: 1px;
    margin-bottom: 15px;
}

.Modal-Content {
    margin-bottom: 10px;
}

.Text-Title {
    display: flex;
}

.Container-Buttons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.Container-Button {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    margin-left: 15px;
}

.Modal-Text-Container{
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.Modal-Text-Title{
    display: block;
    color: rgb(90, 89, 89);
    font-family: "Gill Sans", sans-serif;    
    font-size: 18px;
}

.Modal-Text-Description {
    display: flex;
    font-family: "Gill Sans", sans-serif;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 89, 89);
    margin-bottom: 7px;
}

@media (max-width: 450px) {
    .Modal-Container{
        min-width: 0vh;
    }    
}