.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 50px;
    margin-right: 13px;    
}

.Profile-Container {
    display: block;
    align-items: flex-end;
    justify-content: center;
}

.Profile-Container .App-Logo{
    max-width: 30px;
    color: white;
}

.Profile-Button-Container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.Profile-Display-Name {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.Username-Text {
    margin-right: 16px;
    font-size: 15px;
    color: white;
}

.Button-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 10px;
    width: 70px;
    background-color: white;
}