.Footer-Container{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 136px;
    max-height: 136px;
    max-width: 100%;    
    background-color: rgb(17, 16, 16);
    border-top-color: rgb(209, 44, 44);
    border-top-width: 4px;
    border-top-style: groove;
}

.Footer-Second-Container{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 100px;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 150px;
    z-index: 1;
}

.App-Restaurant-Logo {
    max-width: 200px;
}

.Footer-Container .App-Title {
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-family: "Gill Sans", sans-serif;
}