.Home-Background {
    background-image: url("../../Assets/Images/HomeBackground.jpg");
    width: 100%;
    height: 100%;
}

.Home {
    background-color: rgba(0, 0, 0, 0.788);
    width: 100%;
    height: 100%;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 15%;
}

.Login-Button {
    margin-right: 4%;
}

.Home-Content {
    width: 100%;
    height: 85%;
    padding-top: 3%;
}

.Logo-Cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Cardapio-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Restaurant-Title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

.Restaurant-Name {
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(237,54,40,255);
}